<h1>Ask your coach anything</h1>

<form action="/answer" method="get" class="form-inline">
  <div class="form-group">
    <input type="text" name="question" class="form-control input-lg">
    <input type="submit" value="Ask!" class="form-control input-lg btn btn-primary">
  </div>
</form>
